//Variables for sytling used site-wide.  We should be sticking to colors and theming, here.

$reserveColor: #962c6a;
$reservationHover: #70194d;
$green: #528b3a;
$app-background: #353333;
$light-grey: rgb(102, 102, 102);
$tablerow-a: #0e0e0e;
$tablerow-b: #d6d6d6;
