.search .search-field {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.search .btn {
  background-color: #962c6a;
  border-color: black;
  border-radius: 15pt;
}
.search .btn:hover {
  background-color: #70194d;
}
.search .search-bar {
  display: flex;
  flex-direction: row;
}
.search .search-bar .search-bar > * {
  padding: 1rem;
}
.search .search-bar .btn {
  background-color: #528b3a;
  border-color: black;
}
.search .go-button {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.reservation-modal .reservation-modal-body {
  display: flex;
  flex-direction: row;
}
.reservation-modal .modal-content {
  min-height: 80vh;
}
.reservation-modal .modal-content .modal-header {
  background-color: rgb(53, 51, 51);
  color: white;
}
.reservation-modal .modal-content .modal-body {
  background-color: rgb(53, 51, 51);
  color: white;
}
.reservation-modal .modal-content .modal-footer {
  background-color: rgb(53, 51, 51);
  display: flex;
  justify-content: space-around;
}

.basket {
  border-left: solid;
}

.results {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
.results .result {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  background-color: rgb(102, 102, 102);
}
.results .result .img {
  max-width: 10vw;
}
.results .result:hover {
  transform: scale(1.01);
}

.reservation-viewer .reservation-card-container {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
  color: white;
}
.reservation-viewer .reservation-card-container .reservation-card {
  margin: 1rem;
  width: 80vw;
}
.reservation-viewer .reservation-card-container .reservation-card .btn {
  padding: 0;
  margin: 0;
  height: -moz-min-content;
  height: min-content;
  width: 40%;
  font-size: large;
  padding: 1rem;
}
.reservation-viewer .reservation-card-container .reservation-card .info-row {
  padding-top: 1rem;
}
.reservation-viewer .reservation-card-container .reservation-card .info-row .widget {
  background-color: rgba(87, 86, 86, 0.8);
  margin: 1rem;
  border-radius: 20pt;
  padding: 2rem;
}
.reservation-viewer .reservation-card-container .reservation-card .notification {
  position: absolute;
  top: -2rem;
  right: -2rem;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  height: 4rem;
  aspect-ratio: 1/1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.reservation-viewer .reservation-card-container .reservation-card .danger {
  background-color: red;
}
.reservation-viewer .reservation-card-container .reservation-card .warning {
  background-color: gold;
}
.reservation-viewer .reservation-card-container .reservation-switcher {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  justify-content: space-around;
}
.reservation-viewer .mini-reservation-button {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 100px !important;
  height: 100px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reservation-viewer .next-button {
  position: relative;
  padding: 1rem;
}

.progress-bar {
  width: 100%;
  height: 70px;
  background-color: white;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 2px solid black;
}
.progress-bar .node {
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 15% 50%, 0% 0%);
          clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 15% 50%, 0% 0%);
  width: 100%;
  background-color: gray;
  margin-left: -1rem;
}
.progress-bar .node:nth-last-child(1) {
  border-right: none;
  -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 15% 50%, 0% 0%);
          clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 15% 50%, 0% 0%);
}
.progress-bar .node:first-of-type {
  -webkit-clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
}
.progress-bar .active {
  background-color: #528b3a;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}
.progress-bar .completed {
  opacity: 0.6;
  background-color: rgb(53, 51, 51);
  color: gray;
}

.reservation-form {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.reservation-form .left-form {
  width: 40%;
}
.reservation-form .right-form {
  width: 40%;
  padding-top: 5rem;
}
.reservation-form .form-group {
  margin-bottom: 20px;
}
.reservation-form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.reservation-form .form-group textarea,
.reservation-form .form-group select,
.reservation-form .form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
}
.reservation-form .form-group .error-message {
  color: red;
  margin-top: 5px;
}
.reservation-form .submit-button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.user-actions {
  padding: 1rem;
  display: flex;
  align-items: start;
  flex-direction: row-reverse;
}
.user-actions .user-button {
  cursor: pointer;
  transition: scale 0.2s;
}
.user-actions .user-button:hover {
  scale: 1.1;
}

.home {
  background-image: url("../../public/sylvanLibrary.png");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.home .hero-text {
  color: black;
  font-size: 120pt;
  position: relative;
  top: 20vh;
  font-weight: 900;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  font-family: Noto-serif;
  background-color: rgba(17, 17, 17, 0.3);
}
.home .btn {
  border-radius: 90pt;
  background-color: #962c6a;
  border-color: white;
  font-family: noto-serif;
  transition: all 0.5s ease-in-out;
}
.home .megaButton {
  width: 70vw;
  height: 12rem;
  font-size: 50pt;
  margin-top: 40vh;
  border-radius: 90pt;
  background-color: #962c6a;
  border-color: white;
  font-family: noto-serif;
  transition: all 0.5s ease-in-out;
}
.home .btn:hover {
  background-color: #70194d;
  transform: scale(1.005);
}
.home .full-screen-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.home .hero-text-upshift {
  color: black;
  font-size: 80pt;
  position: absolute;
  top: 5vh;
  left: 0;
  right: 0;
  font-weight: 900;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  font-family: Noto-serif;
  background-color: rgba(17, 17, 17, 0.3);
}/*# sourceMappingURL=style.css.map */