@import '../variables';

.home {
    background-image: url('../../public/sylvanLibrary.png');
    width: 100vw;
    height: 100vh;
    // padding-top: 78px;
    background-repeat: no-repeat;
    background-size: cover;

    .hero-text{
        color: black;
        font-size: 120pt;
        position: relative;
        top: 20vh;
        font-weight: 900;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: rgb(255, 255, 255);
        font-family: Noto-serif;
        background-color: rgb(17 17 17 / 30%);
    }

    .btn{
        border-radius: 90pt;
        background-color: $reserveColor;
        border-color: white;
        font-family: noto-serif;
        transition: all .5s ease-in-out;
    }

    .megaButton {
        width: 70vw;
        height: 12rem;
        font-size: 50pt;
        margin-top: 25vh;
        border-radius: 90pt;
        background-color: $reserveColor;
        border-color: white;
        font-family: noto-serif;
        transition: all .5s ease-in-out;
    }

    .btn:hover{
        background-color: $reservationHover;
        transform: scale(1.005)
    }

}