.reservation-modal {
    .reservation-modal-body{
        display: flex;
        flex-direction: row;
    }

    .modal-content{

        min-height: 80vh;

        .modal-footer {
            display: flex;
            justify-content: space-around;
        }
    }
}