@import '../variables';

.reservation-modal {

    // .reservation-modal-body {
    //     display: flex;
    //     flex-direction: row;
    // }

    .reservation-modal-delivery-form{
        padding-top: 1rem;
        border-top: 1px white solid;
    }

    .modal-content {

        min-height: 80vh;
        
        .modal-header {
            background-color: $app-background;
            color: white;

            .warning-message{
                background-color: red;
                border-radius: 15pt;
                padding: .5rem;
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }

        .modal-body{
            background-color: $app-background;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

        }

        .modal-footer {
            background-color: $app-background;
            display: flex;
            justify-content: space-around;
        }
    }
}