@import '../variables';

.results {
    display: flex;
    flex-direction: row;
    overflow-x: auto;

    //the individual result component
    .result{
        padding: 1rem;
        margin: 1rem;
        border: 1px solid black;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        transition: all .5s ease-in-out;
        background-color: $light-grey;

        .img{
            max-width: 10vw;
        }
    }

    .result:hover{
        transform: scale(1.01)
    }
}