.search {
    .search-field {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
    }

    .btn{
        background-color: $reserveColor;
        border-color: black;
        border-radius: 15pt;
    }

    .btn:hover{
        background-color: $reservationHover
    }

    .search-bar{
        display: flex;
        flex-direction: row;

        .search-bar > * {
            padding: 1rem;
        }

        .btn {
            background-color: $green;
            border-color: black;
        }
    }

    .go-button{
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
    }
}